body {
    background-color: rgb(52,52,64);
 }

.card {
    color: rgb(0, 0, 0);
    float: left;
    width: 22%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 130px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-weight: 0;
    top: 0;left: 0;
    transition: 0.5s;


 }
 .interrogation {width: auto;background: red;position: absolute;padding: 3px;border-radius: 10px;top: -4px;left: -21px;transform: rotate(339deg);
   transition: 0.5s;
   animation-name: interrogation;
   animation-duration: 0.7s;
   animation-iteration-count: infinite;}
   .effectue {padding: 10px;background: red;position: absolute;border-radius: 10px;top: -9px;left: 97%;}

interrogation:hover div{top: -7px;left: 30%;animation-iteration-count: 0;transform: rotate(360deg);width: 140px;}
@keyframes interrogation{
   0%{
      transform: rotate(330deg);
   }
   50%{
      transform: rotate(340deg);
   }
   100%{
      transform: rotate(330deg);
   }

}

 .card p {
    font-size: 18px;
 }
 .card h1 {
    font-size: 20px;
 }
.card:hover {
   font-weight: bold;
    top:-10px;left: -10px;
 }
 @media screen and (max-width: 900px) {
    .card {
       width: 40%;
    }
    .menuP {
       display: none;
       }
 }
 @media screen and (max-width: 600px) {
    .card {
       width: 90%;
    }
    .message {
       right: 10px;
       left: 10px;
       bottom: 10px;
       top: 10px;
    }
    .menuP {
       display: none;
       }
 }
 