body {
    background-color: rgb(52,52,64);
 }

.card {
    color: rgb(0, 0, 0);
    float: left;
    width: 22%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 130px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-weight: 0;
    top: 0;left: 0;
    transition: 0.5s;


 }
 .card p {
    font-size: 18px;
 }
 .card h1 {
    font-size: 20px;
 }
.card:hover {
   font-weight: bold;
    top:-10px;left: -10px;
 }
 @media screen and (max-width: 900px) {
    .card {
       width: 40%;
    }
    .menuP {
       display: none;
       }
 }
 @media screen and (max-width: 600px) {
    .card {
       width: 90%;
    }
    .message {
       right: 10px;
       left: 10px;
       bottom: 10px;
       top: 10px;
    }
    .menuP {
       display: none;
       }
 }
 