body {
    background-color: rgb(52,52,64);

 }
 .menuP{
   width: min-content;
   display: inline-block;
   position: inherit;
   top: -10px;
}
a {
   text-decoration: none;
   color: black;
   cursor: pointer;
}
    .menu div {
        width: 30%;
        background-color: rgba(88, 88, 88, 0.322);
        font-family: 'Roboto', sans-serif;
        float: left;
         position: relative;
         margin: 5px 1.5%;
         height: 55px;
         border-radius: 10px;
         top: 0;
         left: 0;
         transition: 0.5s;
         border-color: black;
         border-style: none;
         cursor: pointer;

    }
    .menu div:hover {
       background-color: rgba(255, 0, 0, 0);
       top: -5px;left: -10px;
       border-color: black;
      border-style: solid;
      border-width: 0.5px;
   }
    .div1 {
        transition: Width 0.7s;
         position: absolute;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 100%;

      }
    .div2 {
      transition: Width 0.7s;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
       }

   .back {

      background-color: rgba(255, 255, 255, 0);
      width: 40px;
      height: 41px;
      border-radius: 100%;
      position: relative;
   }
   .back:hover {

      animation-name: int;
      animation-duration: 0.5s;
      animation-direction: alternate;
      background-color: rgba(255, 255, 255, 0.3);

   }

   @keyframes int{
      0% {
         background-color: rgba(255, 255, 255, 0);
      }

      100% {
      background-color: rgba(255, 255, 255, 0.3);
      }

   }
   #arow {
      left: 0;
      position: relative;
   }
   #arow1 {
      position: absolute;
      top: 10px;
      width: 20px;
      height: 20px;
      border-style: solid;
      border-width: 3px 0px 0px 3px; 
      border-color: white;
      transform: rotate(-45deg);
      left: 7px;
   }
   #arow2 {
      position: absolute;
      top: 20px;
      width: 30px;
      height: 20px;
      border-style: solid;
      border-width: 3px 0px 0px 0px; 
      border-color: white;
      left: 5px;
   }
   .int {
      display: none;
      transition: display 0.2s;
   border: 10px;
   border-color: rgb(73, 226, 43);
   border-style: solid;
   position: absolute;
   top: 10px;
   right: 10px;
   left: 10px;
   bottom: 10px;
   }
   
   .mes {
      display: block;
      transition: display 0.2s;
   border: 10px;
   border-color: rgb(43, 198, 226);
   border-style: solid;
   position: absolute;
   top: 104px;
   right: 10px;
   left: 10px;
   }
 .card {
   color: rgb(52,52,64);
   float: left;
   width: 22%;
   padding: 10px;
   border-radius: 10px;
   margin: 10px;
   height: 100px;
   text-align: center;
   position: relative;
}
.card p {
   font-size: 18px;
}
.cardContainer:after {
   content: "";
   display: table;
   clear: both;
}
.message {
   right: 50px;
   left: 50px;
   position: absolute;
   background-color: chartreuse;
   border-color: black;
   border-radius: 10px;
   border-style: solid;
   border-width: 7px;
   bottom: 50px;
   top: 50px;
}
.message p {
   font-size: 18px;
   margin: 10px;
}
.message h2 {
   font-size: 20px;
   text-align: center;
}
.menu {
   position: absolute;
   top: 10px;
   left: 10px;
   right: 10px;
   height: 70px;
   background-color: #ff9800;
   border-radius: 10px;
   text-align: center;
   border-color: black;
   border-style: solid;
   border-width: 7px;

}

@media screen and (max-width: 1200px) {
   .card {
      width: 40%;
   }
   .menuP {
      display: inline-block;
      }
}

@media screen and (max-width: 900px) {
   .card {
      width: 40%;
   }
   .menuP {
      display: none;
      }
}
@media screen and (max-width: 600px) {
   .card {
      width: 90%;
   }
   .message {
      right: 10px;
      left: 10px;
      bottom: 10px;
      top: 10px;
   }
   .menuP {
      display: none;
      }
}
